/* Config */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root{
    --primaryBlack: #222222;
    --primaryRed: #e50914;

    --primaryFont: #FFFFFF;

    --primaryLink: #AAAAAA;
    --secondaryLink: #FFFFFF;

    --primaryGradient: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%);
    --secondaryGradient: rgba(0,0,0,.50);
}   

/* /Config */
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--primaryLink);
}

a:hover{
    color: var(--secondaryLink);
}

i{
    margin-right: 8px;
}

h2{
    margin-bottom: 25px;
    margin-left: 10px;
}

body{
    background-color: var(--primaryBlack);
    font-family: 'Roboto', sans-serif;
    color: var(--primaryFont);
}

/* /Reset */
/* Navegacao */

.container{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15%;
}

.menu a{
    margin-right: 10px;
    font-size: 1.1em;
}

/* /Navegacao */
/* Capa */

.filmePrincipal{
    width: 100%;
    height: 450px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-image: var(--primaryGradient), url('https://www.themoviedb.org/t/p/original/iWopHyAvuIDjGX10Yc3nn6UEebW.jpg');

}

.content{
    max-width: 40%;
    margin-left: 5%;
}

.titulo{
    font-size: 1.8em;
    margin-top: 15%;
}

.descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao{
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 40px;
    cursor: pointer;
    transition: 1s ease all;
    color: var(--secondaryLink);
    background-color: var(--secondaryGradient);
}

.botao:hover{
    color: var(--primaryBlack);
    background-color: var(--secondaryLink);
}

/* /Capa */
/* Carrossel */

.carrossel{
    width: 100%;
    margin-top: 75px;
    overflow: scroll;
}

.containerCarrossel{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /Carrossel */
/* Filmes */

.filmes{
    width: 100%;
    margin-top:75px;
}

.contentFilmes{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* /Filmes */
/* Footer */
.footer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryBlack);
}

.socialNets {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

.socialList {
    list-style: none;
    display: flex;
    gap: 16px;
}

/* /Footer */


