@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --dark: #000;
  --fonts: #FFF;
  --destak: #ADFF2F;
  --backgroundElements: #303030;
  --backgroundApplication: #1d1d1d; 
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--backgroundApplication);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

html{
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px){
    font-size: 87.50%;
  }
}