.container {
    width: 100%;

}

.content {
    max-width: 1080px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxAttendance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.headerBox {
    max-width: 250px;
    text-align: center;
    margin-bottom: 25px;
}

.headerTitle {
    font-family: 400 1.2rem 'Poppins', sans-serif;
}

.headerText {
    font-family: 100 1rem 'Popins', sans-serif;
}

.buttomBox {
    border: none;
    width: 160px;
    color: #fff;
    padding: 7px 5px;
    border-radius: 7px;
    background-color: #6fc0d1;
}

@media(max-width: 670px) {
    .content {
        flex-direction: column;
    }

    .buttomBox {
        margin-bottom: 60px;
    }
}

