.container {
  width: 100%;
  height: 160px;
  background-image: url('../../img/chaplin1.jpg');
  background-size: cover;
  background-position: 0px -220px;
}

.content {
  max-width: 1120px;
  margin: 10px auto;
  padding: 1 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

    img {
      margin-top: 10px;
      width: 140px;
    }
}

.btnGithub {

  a {
    width: 12rem;
    height: 3rem;
    padding: 1rem 1rem;
    border-radius: 3rem;
    background-color: var(--dark);
    color: var(--default);
    border: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  svg {
    color: var(--default);
  }

  &:hover {
   a, svg {
     color: var(--destak) 
   } 
  }
}